/*
Custom Css
*/

.product-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.product-detail-size {
    font-size: 10px;
    color: #583101;
}