<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/loginPage/style.css') }}">
    <script src="{{ url_for('static', filename='assets/loginPage/script.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='assets/loginPage/img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div id="formWrapper" id="register">
        <div id="form">
            <div class="logo">
                <img class="logo-image" src="{{ url_for('static', filename='assets/loginPage/img/logo.png') }}" alt="Logo">
                <img class="logo-image" src="{{ url_for('static', filename='assets/loginPage/img/NameLogo.png') }}" alt="Logo">
            </div>
            <h2>Register</h2>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for msg in messages %}
                <li style="color: red;">{{ msg }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/register">
                <div class="form-item">
                    <input type="text" name="username" placeholder="Username" class="form-style" autocomplete="off" required />
                </div>
                <div class="form-item">
                    <input type="email" name="email" placeholder="Email" class="form-style" autocomplete="off" required />
                </div>
                <div class="form-item">
                    <input type="password" name="password" placeholder="Password" class="form-style" required />
                </div>
                <div class="form-item">
                    <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-style" required />
                </div>
                <div class="form-item">
                    <input type="submit" class="login pull-right" value="Register">
                    <div class="clear-fix"></div>
                </div>
                <p class="login pull-left"><a href="{{ url_for('home') }}"><small>Already have an account? Login</small></a></p>
            </form>
        </div>
    </div>
</body>
</html>